@font-face {
  font-family: 'icomoon';
  src:  url('../font-icons/icomoon.eot?lwu6d5');
  src:  url('../font-icons/icomoon.eot?lwu6d5#iefix') format('embedded-opentype'),
    url('../font-icons/icomoon.ttf?lwu6d5') format('truetype'),
    url('../font-icons/icomoon.woff?lwu6d5') format('woff'),
    url('../font-icons/icomoon.svg?lwu6d5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
}
